@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:thin,extra-light,light,100,200,300,400,500,600,700,800');

// Fonts
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

// Colors
$background: #fafafa;
$azure: #0290ff;
$coolBlue: #4386bf;
$greyBorder: #e8e8e8;
$pinkishGrey: #c4c4c4;
$warmGrey: #888;

// General padding
$generalPadding: 0 4rem;

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $background;
  margin: 0;
  font-family: $montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

button {
  font-family: $roboto;
}

// NAVBAR
header {
  background-color: white;
}

.navbar {
  height: 5.938rem;
  padding: $generalPadding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

.rightNav {
  display: flex;
  align-items: baseline;
  gap: 3rem;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-items: baseline;
  gap: 2rem;
}

li {
  text-decoration: none;
}

h1 {
  color: $azure;
  font-weight: bold;
  font-family: $montserrat;
  font-size: 1.875rem;
}

.link,
link:active {
  color: black;
  font-family: $montserrat;
  opacity: 0.5;
  text-decoration: none;
}

.link:hover {
  opacity: 1;
}

.activeLink {
  opacity: 1;
}

.oval {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 75px;
  border: solid 1px $greyBorder;
}

.icon {
  width: 1.063rem;
  height: 1.063rem;
  color: $azure;
}

// BOOK CONTAINER
.booksContainer {
  display: flex;
  flex-direction: column;
  padding: $generalPadding;
}

.bookList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

hr {
  margin: 1rem 0;
  border: solid 1px $greyBorder;
}

// BOOK ITEM
.bookItem {
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  list-style-type: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Left Side
.leftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

.bookCategory {
  opacity: 0.5;
  font-family: $montserrat;
  font-size: 0.875rem;
  font-weight: bold;
}

.bookTitle {
  font-family: $roboto;
  font-weight: bold;
  text-align: left;
  font-size: 1.25rem;
  margin: -1rem 0;
}

.bookAuthor {
  margin-bottom: 1.5rem;
  font-family: $roboto;
  font-weight: 300;
  color: $coolBlue;
}

.bookButtons {
  display: flex;
  gap: 1.5rem;
}

.bookButton {
  font-family: $roboto;
  color: $coolBlue;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.bookButton:nth-child(2) {
  padding: 0 1.5rem;
  border-left: solid 1px $greyBorder;
  border-right: solid 1px $greyBorder;
}

.bookButton:hover {
  opacity: 0.7;
}

.bookButton:active {
  opacity: 1;
}

// Middle Side
.middleSide {
  display: flex;
}

.circle-wrap {
  margin: 5px 0;
  width: 150px;
  height: 150px;
  background: #fafafa;
  border-radius: 50%;
  border: 1px solid #fafafa;
  transform: scale(0.60);
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #ffffff;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.percentageText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.percentage {
  margin-bottom: -1rem;
  font-size: 2rem;
}

.completedP {
  opacity: 0.5;
  font-size: 0.875rem;
}

// Right Side
.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.currentChapter {
  opacity: 0.5;
  font-family: $roboto;
  font-size: 0.813rem;
  font-weight: 300;
}

.chapter {
  margin-top: -0.5rem;
  font-family: $roboto;
  font-size: 1rem;
  font-weight: 300;
}

.updateProgress {
  padding: 0.5rem 1.2rem;
  border-radius: 3px;
  background-color: $azure;
  color: white;
  font-family: $roboto;
  font-size: 0.813rem;
  font-weight: 300;
  border: none;
}

// ADD BOOK
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  color: $warmGrey;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5rem;
}

.input-text {
  font-family: $montserrat;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px $greyBorder;
}

#book-title {
  width: 50%;
}

#book-author {
  width: 25%;
}

.input-submit {
  width: 15%;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: $azure;
}

// CATEGORIES
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}

.status {
  width: 10%;
}
