@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Fonts
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

// Colors
$background: #fafafa;
$azure: #0290ff;
$coolBlue: #4386bf;
$greyBorder: #e8e8e8;
$pinkishGrey: #c4c4c4;
$warmGrey: #888888;

body {
  background-color: $background;
  margin: 0;
  font-family: $montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

button {
  font-family: $roboto;
}

// NAVBAR
header {
  background-color: white;
}

.navbar {
  height: 5.938rem;
  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

.rightNav {
  display: flex;
  align-items: baseline;
  gap: 3rem;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-items: baseline;
  gap: 2rem;
}

li {
  text-decoration: none;
}

h1 {
  color: $azure;
  font-weight: bold;
  font-family: $montserrat;
  font-size: 1.875rem;
}

.link,
link:active {
  color: black;
  font-family: $montserrat;
  opacity: 0.5;
  text-decoration: none;
}

.link:hover {
  opacity: 1;
}

.activeLink {
  opacity: 1;
}

.oval {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 75px;
  border: solid 1px $greyBorder;
}

.icon {
  width: 1.063rem;
  height: 1.063rem;
  color: $azure;
}

// BOOK CONTAINER
.books {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

hr {
  margin: 1rem 0;
  border: solid 1px $greyBorder;
}

// ADD BOOK
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  color: $warmGrey;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5rem;
}

.input-text {
  font-family: $montserrat;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px $greyBorder;
}

#book-title {
  width: 50%;
}

#book-author {
  width: 25%;
}

.input-submit {
  width: 15%;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: $azure;
}

// BOOKLIST
.bookList {
  align-items: center;
}

// BOOK ITEM
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.removeButton {
  width: 10%;
}

// CATEGORIES
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}

.status {
  width: 10%;
}
